[workspace]
members = [
  "dnsparse",
  "esp-idf-sys",
  "esp32-hal",
  "app",
]

[profile.dev]
panic = "unwind"

[profile.release]
lto = true
panic = "unwind"

[patch.crates-io]
libc = { git = "https://github.com/reitermarkus/libc", branch = "xtensa-support" }
